extends ../layout

block content
    h1 CREATE A NEW RELEASE

    form(action="/gitlab/release", method="post")
        .row
            .col-3
                label(for="id") PROJECT ID: 
                input(type="text", id="id", name="id", autocomplete="off", required="true")
            .col-3
                label(for="name") RELEASE NAME: 
                input(type="text", id="name", name="name", autocomplete="off", required="true")
            .col-3
                label(for="tag_name") TAG NAME: 
                input(type="text", id="tag_name", name="tag_name", autocomplete="off", required="true")

        .row
            .col-3
                label(for="description") DESCRIPTION: 
                input(type="text", id="description", name="description", autocomplete="off")
            .col-3
                label(for="milestones") MILESTONES: 
                input(type="text", id="milestones", name="milestones", autocomplete="off", required="true")
            .col-3
                label(for="assets_name") ASSETS NAME: 
                input(type="text", id="assets_name", name="assets_name", autocomplete="off")

        .row
            .col-3
                label(for="assets_links") ASSETS LINKS: 
                input(type="text", id="assets_links", name="assets_links", autocomplete="off")

        br
        button(id="submit") CREATE RELEASE! 🚀

    script(src="javascript/gitlab.js")