extends ../layout

block content
    h1 CREATE A NEW RELEASE

    form(action="/gitlab/release", method="post")
        label(for="id") PROJECT ID: 
        input(type="text", name="id")

        label(for="name") RELEASE NAME: 
        input(type="text", name="name")

        label(for="tag_name") TAG NAME: 
        input(type="text", name="tag_name")

        label(for="description") DESCRIPTION: 
        input(type="text", name="description")

        label(for="milestones") MILESTONES: 
        input(type="text", name="milestones")

        label(for="assets_name") ASSETS NAME: 
        input(type="text", name="assets_name")

        label(for="assets_links") ASSETS LINKS: 
        input(type="text", name="assets_links")

        button(id="submit") CREATE RELEASE! 🚀