* {
  margin: 0;
  padding: 0;
}

:root {
  --font-color: #2c2c2c;
  --theme-color: #2a8285;
  --border-color: #a4a4a4;
  --header-height: 42px;
}

body {
  font: 500 14px 'Cascadia Code', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: var(--font-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--theme-color);
}

header h1 {
  padding: 0 24px;
  height: var(--header-height);
}

header a {
  line-height: var(--header-height);
  color: var(--font-color);
}

header a:hover {
  text-decoration: none;
}

header .flex {
  justify-content: flex-end;
}

header .flex a {
  padding: 0 24px;
}

header .flex-1 a:hover {
  mix-blend-mode: multiply;
  background-color: #ccc;
}

footer {
  text-align: center;
  height: auto;
  padding: 24px;
  background-color: var(--theme-color);
}

footer a {
  color: var(--font-color);
}

button {
  padding: 4px 8px;
}

div {
  line-height: 1.6em;
}

input,
select {
  padding: 0 8px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

option {
  font-size: 1.25em;
}

input:focus,
select:focus {
  background-color: #fff;
  border-color: var(--theme-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

a {
  font-weight: 600;
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.6em;
}

dl {
  margin: 24px 0;
  padding: 24px;
  text-align: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

dt {
  font-size: 1.25em;
  font-weight: 600;
  font-style: italic;
}

dd {
  line-height: 2em;
  margin-left: 24px;
}

p {
  text-indent: 2em;
  text-align: left;
  line-height: 2em;
}

h2,
h3 {
  line-height: 2.6em;
}

.page {
  margin: var(--header-height) auto 0 auto;
  padding: 24px 0;
  max-width: 1000px;
  text-align: center;
}

.code {
  margin: 24px;
  padding: 24px;
  border-radius: 5px;
  color: #8d2f2f;
  background-color: #f1f1f1;
}

.row {
  width: 100%;
  margin-bottom: 12px;
}

.col-3 {
  display: inline-block;
  width: 25%;
  min-width: 200px;
}

.explanation {
  margin: 0 0 24px 0;
  padding: 24px 12px;
}

.text {
  margin: 24px;
  padding: 24px;
  border-radius: 5px;
  color: #333;
  background-color: #f1f1f1;
}

.text-align--center {
  text-align: center;
}

.res-params {
  display: flex;
  margin-bottom: 12px;
}

.res-params div {
  margin: 0 8px;
}

.res-params div button:first-child {
  margin-right: 8px;
}

.logo {
  border-radius: 15px;
}
